/* bottom-info (a whole of part) */
.bottom-info {
  margin: 0;
  font-size: 0.9rem;
  margin: 0px auto;
  width: 80%;
}

/* icons info */
.icons-info-navi {
  display: flex;
  flex-direction: row;
}

.icons-info-navi li {
  margin: 0 20px 20px 0;
  padding: 0;
}

.icons svg {
  width: 32px;
  height: 32px;
  overflow: visible;
  fill: #000000;
}

.icons svg:hover {
  filter: drop-shadow(50px 50px 50px pink);
}

/* policy info */
.policy-info-navi a {
  color: #000000;
  font-weight: 600;
}

.policy-info-navi a:hover {
  text-decoration: underline;
}

.policy-info-navi {
  display: flex;
  flex-direction: row;
}

.policy-info-navi li {
  margin: 0;
  padding: 0 20px 0 0;
}

.policy-info-navi li span {
  padding: 0 20px 0 0;
}

/* Copy right info */
.bottom-info ul {
  list-style-type: none;
  padding: 0;
}

.copy-right {
  text-align: left;
}

.copy-right a {
  color: #006341;
  font-weight: 700;
}

.copy-right a,
p {
  margin: 20px 0;
}
