.App {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  max-width: 100%;
  margin: auto;
}

.main,
.bottom-navi,
.last-info {
  width: 95%;
  margin: auto;
  text-align: center;
}

.additionalExp {
  margin: 20px;
}

.additionalExp a {
  color: #000000;
  text-decoration: underline;
}

.additionalExp a:hover {
  color: #000000;
  text-decoration: none;
}

.border-contents-top-navi {
  margin: 0 0 40px 0;
  border: none;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1);
}

.border-contents {
  margin: 40px 0;
  border: none;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1);
}
